<config>
  <!-- Folding Slot Configuration -->
  <disable-viz v='true'/>
  
  <!-- User Information -->
  <user value="----user----"/> <!-- Enter your user name here -->
  <team value="0"/>         <!-- Your team number -->
  <passkey value=""/>       <!-- 32 hexadecimal characters if provided -->

  <power value="full"/>
  <gpu value="true"/>      <!-- If true, attempt to autoconfigure GPUs -->
  <fold-anon value="false"/>

  <!-- HTTP Server -->
  <web-enable v='true'/>
  <gui-enabled v='false'/>
  <allow v='172.0.0.1/8 192.0.0.0/8 127.0.0.1/24'/>
  <web-allow v='172.0.0.1/8 192.0.0.0/8 127.0.0.1/24'/>

  <!-- Remote Command Server -->
  <command-allow-no-pass v='172.0.0.1/8 192.0.0.0/8 127.0.0.1/24'/>
  <password v=''/>

  <!-- Folding Slots -->
  <slot id='0' type='GPU'>
    <pci-bus v='15'/>
    <pci-slot v='0'/>
  </slot>
  <slot id='1' type='GPU'>
    <pci-bus v='16'/>
    <pci-slot v='0'/>
  </slot>
<!-- no CPU to be used
  <slot id='2' type='CPU'>
    <cpus v='8'/>
  </slot>
-->

</config>